<section id="about">
  <div class="container">
    <h1>About Me</h1>
    <div class="page">
    <p>I am <strong>Daniel Bruzual</strong>, <strong>software developer</strong>, <strong>entrepreneur</strong> and lover of the great outdoors. I was born in Venezuela but I have lived in several countries ever since I was young. I am currently based in <strong>Helsinki, Finland</strong>.
    </p><p>
    I am studying in the <strong>EIT Digital master's programme in Service Design and Engineering</strong>, at <strong>Aalto University</strong>. I
    am learning about innovation and entrepreneurship, creating digital services, and designing the architecture of the systems that power them. This is a joint programme with the <strong>University of Trento</strong>, where I was studying last year. 
	</p>
	<p>
	I received my Bachelor's degree in <strong>Computer Engineering</strong> (<em>Cum Laude</em>) from Universidad Simón Bolívar in Venezuela.
	</p>

	<p>
    <strong>I have a passion for mobile applications</strong> and have made several Android apps, for fun (Voz Del Pueblo), for contests (Together App), and for things I needed which didn't exist (ProRemote).
    </p>

    <p>
    <strong>I taught myself HTML</strong> to make websites when I was 11 by getting up at 6:00am on weekends when the family computer was free to use. Later, when I was 16, I learnt how to <strong>program web applications</strong> in order to make a student survey system for my high school. It allowed them to save hundreds of hours of transcription, and provide useful information to teachers. I also co-founded a start-up (TuTallerMecánico), which I left to come study. I'm always coming up with new ideas and thinking of business opportunities. 
    </p>

	<p>	
    I did a 5-month internship at <a href="http://www.plista.com">Plista GmbH</a> in Berlin, where I was working on <strong>recommendation algorithms</strong> for their OnSiteRecommendations plugin. We implemented different algorithms (like <em>collaborative filtering</em>), and used different techniques to combine them. 
    </p>
    <p>Later I worked in <a href="http://www.mobmedianet.com">MobileMediaNetworks</a> in Venezuela, where I developed a CMS that allowed print media editors to add <strong>augmented reality</strong> to their existing publications, alongside an app that allowed readers to view these contents. I have also made the entire web and mobile applications for TuTallerMecánico, a qype of car repair garages. I have also worked developing Wordpress themes and plugins.

	</p><p>
    I am a polyglot, speaking <strong>Spanish</strong>, <strong>English</strong>, <strong>Italian</strong>, <strong>Portuguese</strong> and <strong>German</strong> fluently. At the moment, I am learning Finnish.
    </p>
            <img src="{{ site.baseurl }}static/img/me_kayak.jpg" class="img-responsive project-banner"/>

    <p>
    On my spare time you will find me in a mountain, or making a timelipse, or probably both. I like trailrunning and doing physically demmanding activities. I also have a passion for kayak, having recently completed a 5-day trip around the Aeolian Islands in Sicily.
    </p>

    </div>
  </div>
</section>
