<section id="now">
  <div class="container">
      
    <h1>What I'm doing now</h1>

    <div class="page">
    <p>
	    I am based in <strong>Helsinki, Finland</strong> (UTC+02:00).
		</p>
	    <p>
	    I am a recent graduate in <strong>MSc Service Design and Engineering</strong> at Aalto University (4.91/5.00 GPA). This is a double-degree program with a minor in Innovation and Entrepreneurship, which is organized by the EIT Digital Master School. I hold the same degree from the University of Trento, where I attended my first year of studies.
	    </p>
	    <p>
	    I am currently working as a <strong>Research Assistant</strong> in the group led by <a href="https://users.aalto.fi/~difram1/">Mario Di Francesco</a> at Aalto University. My research focuses on <strong>distributed computing on heterogeneous IoT devices</strong>. For this I am using <strong>Docker Swarm</strong> along with custom software. This was the topic of my master's thesis and also of my presentation at <strong>DockerCon Europe 2017</strong>.
		</p><p>
	    I am also a <strong>Teaching Assistant</strong> for the <strong>Mobile Cloud Computing</strong> course at Aalto University. My main contribution is the development of an automated grading system that uses unit tests to calculate student grades. Students upload their Android projects and receive instant feedback based on the behavior of their app and the expected behavior. This is enabled by running <strong>headless Android emulators</strong> inside <strong>Docker containers</strong> and using <strong>Appium</strong> for user interface testing.
	    </p>
    </div>
  </div>
</section>
