<section id="now">
  <div class="container">
      <h4 class="internship">I am looking for an intership for the beginning of January 2017 (5-6 months). In the field of Mobile applications. <a href="{{ site.baseurl }}contact.html">Contact Me</a>.</h4>
    <h1>What I'm doing now</h1>

    <div class="page">
	    <p>
	    I am currently a Master's student in the <strong>EIT Digital Master School</strong>. My major is <strong>Service Design and Engineering</strong>, with a minor in Innovation and Entrepreneurship. This is a double-degree joint programme. The first year I was studying at the University of Trento and this year at Aalto University.
		</p><p>
	    I am based in <strong>Helsinki, Finland</strong> (UTC+02:00).
		</p><p>
	    I am a member of the <strong>EIT Digital Pre-incubation</strong> programme. Together with <a href="http://www.andreagalloni.eu">Andrea Galloni</a>, and <a href="http://www.lucar.in">Luca Rinaldi</a> we are developing a system for creation and management of intelligent chat bots. 
	    </p><p>
	    I am also a part of <a href="http://demola.net"><strong>Demola</strong></a>, working alongside the <strong>Finnish Ministry of Education</strong> on how to make their unique authentication system (<a href="http://mpass.id">mpass.id</a>) more accessible.
	    </p><p>
	    The courses I am taking this semester are:
	    <ul>
	    	<li><strong>Mobile Cloud Computing</strong>: building systems that combine virtual machines, servers and context-aware mobile applications.</li>
	    	<li><strong>WWW Applications</strong>: building an IoT beamer that will eliminate the need of using cables to give a presentation.</li>
	    	<li><strong>Demola</strong>: mpass.id (see above).</li>
	    	<li><strong>Finnish 1A</strong>: learning my most difficult language so far.</li>
	    	<li><strong>Storytelling</strong>: a useful skill for everyday life and leadership.</li>
	    </ul>
	    </p>
    </div>
  </div>
</section>
