<section id="projects">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class=>Some of my projects are:</h3>
    </div>
    <div class="panel-body">
		<h5>
			<i class="fa fa-android"></i>&nbsp;&nbsp;<strong>ChillBooth</strong>
			- Android MVP of a Virtual Reality relaxation app for the workplace. It takes you to the sunny beaches of Spain and during
			a few short minutes guides you through a breathing exercise.
			Stress levels are assessed through an in-app survey before and after the experience to track stress levels in the workplace. <i>Android</i>, <i>Cardboard SDK</i>, <i>Ricoh Theta 360</i>.
		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_chillbooth.jpg" class="project-banner"/>
		</div>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/freetomas/free-parrot">0Drones</a></strong>
			- Drone defense system that can be placed in the garden or in the home to protect against WiFi drones. When an unauthorised drone
			enters the perimeter the box will perform an ARP-spoofing attack and fly the drone away. After the drone is outside the perimeter
			the owner regains control. <i>Raspberry Pi</i>, <i>Python</i>, <i>Parrot AR Drone</i>.

		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_0drones.jpg" class="project-banner"/>
		</div>
    		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/trento-introsde-final/documentation">Health Profile Bot</a></strong>
			- Telegram and Slack bots that allow you to track your health measurements (steps walked, calories taken, minutes of exercise, etc) and reward you as you reach your personal goals. The backend was implemented as a multi-tier architecture deployed across 5 different servers, communicating with external API's as well. <i>Java</i>, <i>JAXB/Jackson</i>, <i>Jersey (JAX-RS)</i>, <i>JPA</i>, <i>REST</i>, <i>SOAP</i>, <i>JSON</i>, <i>XML</i>, <i>Heroku</i>.
		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_slackbot.jpg" class="project-banner"/>
		</div>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/fars-data-analysis/FIS">Frequent Itemset Mining in USA Crash Data</a></strong>
			- Implementation of the <i>FP-Growth</i> algorithm for frequent itemset mining of 10 years of USA crash data. The data from different years was standarised and then transformed into the <i>item-basket</i> domain. <a href="https://github.com/fars-data-analysis/FIS/blob/master/project_report/report.pdf">Download paper <i class="fa fa-file-pdf-o"></i></a><br /><i>Apache Spark</i>, <i>PySpark</i>. 
		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_spark.jpg" class="project-banner"/>
		</div>
 		<h5>
			<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.aventudrone.proremote">ProRemote</a></strong>
			- Android widget for controlling the GoPro Hero 4 from the homescreen. Includes a countdown timer for selfies. <i>Android</i>, <i>GoPro Hero 4</i>.
		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_proremote.png" class="project-banner"/>
		</div>
 		<h5>
			<i class="fa fa-android"></i>&nbsp;&nbsp;<strong>TogetherApp</strong>
			- Augmented Reality Android application for reporting issues with public infrastructure. Frontend and backend developed for the Metaio GotHeARt competition. 3rd place winner. <i>Android</i>, <i>MetaioSDK</i>.
			<div class="project-banner">
			<iframe width="533" height="300" src="https://www.youtube.com/embed/DqHbnEoX8Bo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</h5>

		<h5>
			<i class="fa fa-android"></i> <i class="fa fa-laptop"></i>&nbsp;&nbsp;<strong><a href="http://www.tutallermecanico.com">TuTallerMecánico</a></strong>
			- Android and web application for a car repair garage search engine in Venezuela. <i>Android</i>, <i>PHP</i>, <i>YiiFramework</i>.
		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_ttm.png" class="project-banner"/>
		</div>
		<h5>
			<i class="fa fa-android"></i> <i class="fa fa-laptop"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.mobmedianet.mobilemediareader">Imprezio</a></strong>
			- Web tool to add Augmented Reality to existing print publications (newspapers, magazines, books) and to track usage analytics. Consumer Android app to enjoy the augmented reality experience. <i>Android</i>, <i>Metaio SDK</i>, <i>CakePHP</i>.
		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_imprezio.jpg" class="project-banner"/>
		</div>
		<h5>
			<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.naturalio.vozdelpueblo">Voz Del Pueblo</a></strong>
			- Android soundboard containing famous and notorious audios from the Venezuelan politican reality. <i>Android</i>.
		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_vozdelpueblo.jpg" class="project-banner"/>
		</div>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.naturalio.vozdelpueblo">Matilda</a></strong>
			- Robotic plant that changes colors to gain attention when someone comes nearby. She learns which colors are her master's favorites and shows them more often. If no affection is given to her (by touching her petals) she will retreat back into her bulb. <i>Arduino</i>, <i>Interactive C</i>.
		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_matilda.jpg" class="project-banner"/>
		</div>
		<h5>
			<i class="fa fa-laptop"></i>&nbsp;&nbsp;<strong>Aplicación de Evaluación</strong>
			- Web application for which I taught myself programming at 16. It allowed my school's administration to survey student's opinions regarding their classes and specific professors by means of different types of questions (multiple choice, open question). The automation of this process allowed the school to save hundreds of hours of transcribing data. 
		</h5>
		<div class="project-banner">
		  <img src="{{ site.baseurl }}static/img/banner_santiago.jpg" class="project-banner"/>
		</div>
    </div>
  </div>
</section>
